In [1]:
#pip install googletrans

# at the date of 03/02/21, there is an issue with official pip librarie ''NoneType' object has no attribute 'group''
# temporary solution :
#pip install googletrans==3.1.0a0

In [3]:
import pandas as pd

In [4]:
# LOAD POPULATION FILE
dfpop = pd.read_csv("population_2019.csv",index_col=0)
dfpop.head()

               population
country
Afghanistan            38
Albania               2.9
Algeria              43.1
American Samoa        0.1
Andorra               0.1

In [5]:
# LOAD API COUNTRY NAME
dfapi = pd.read_csv("countriesNameAPI.csv",index_col=1)
print(dfapi.columns)
dfapi.drop(columns=[dfapi.columns[0]],inplace=True)
dfapi.head()

Index(['Unnamed: 0', 'Slug', 'ISO2'], dtype='object')

                  Slug ISO2
Country
Peru              peru   PE
Andorra        andorra   AD
Bahamas        bahamas   BS
Gabon            gabon   GA
Kazakhstan  kazakhstan   KZ

In [6]:
# Join tables with inner to have right callname for api AND population number
joincountry= pd.concat([dfpop,dfapi], axis=1,join='inner').drop(columns=['Slug', 'ISO2'])
joincountry.head(20)

                    population
Afghanistan                 38
Albania                    2.9
Algeria                   43.1
American Samoa             0.1
Andorra                    0.1
Angola                    31.8
Antigua and Barbuda        0.1
Argentina                 44.9
Armenia                      3
Aruba                      0.1
Australia                 25.4
Austria                    8.9
Azerbaijan                  10
Bahrain                    1.6
Bangladesh                 163
Barbados                   0.3
Belarus                    9.5
Belgium                   11.5
Belize                     0.4
Benin                     11.8

In [7]:
# ADD column with translation of country name in french
from googletrans import Translator
translator = Translator()
# get index list
countrylist = joincountry.index
countrylist

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       ...
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Zambia', 'Zimbabwe'],
      dtype='object', length=182)

In [10]:
#TEST UNITAIRE
result = translator.translate('whats up', src='en',dest='fr')
print(result.text)

quoi de neuf

In [13]:
# GETTING TRANSLATION FOR ALL COUNTRY LIST
translations = translator.translate(list(countrylist), src='en', dest='fr')

In [15]:
# FILLING COUNTRYLISTFR
countrylistfr = []
for elem in translations:
    print(elem.text)
    countrylistfr.append(elem.text)

Afghanistan
Albanie
Algérie
Samoa américaines
Andorre
Angola
Antigua-et-Barbuda
Argentine
Arménie
Aruba
Australie
L'Autriche
Azerbaïdjan
Bahreïn
Bangladesh
Barbade
Biélorussie
Belgique
Belize
Bénin
Bermudes
Bhoutan
Bolivie
Bosnie Herzégovine
Botswana
Brésil
Brunei Darussalam
Bulgarie
Burkina Faso
Burundi
Cambodge
Cameroun
Canada
Îles Caïmans
République centrafricaine
Tchad
Chili
Chine
Colombie
Comores
Costa Rica
Croatie
Cuba
Chypre
République Tchèque
Danemark
Djibouti
Dominique
République dominicaine
Equateur
Le Salvador
Guinée Équatoriale
Érythrée
Estonie
Ethiopie
Îles Féroé
Fidji
Finlande
France
Polynésie française
Gabon
Géorgie
Allemagne
Ghana
Grèce
Groenland
Grenade
Guam
Guatemala
Guinée
Guinée-Bissau
Guyane
Haïti
Honduras
Hongrie
Islande
Inde
Indonésie
Irak
Irlande
île de Man
Israël
Italie
Jamaïque
Japon
Jordan
Kazakhstan
Kenya
Kiribati
Koweit
République démocratique populaire lao
Lettonie
Liban
Lesotho
Libéria
Libye
Liechtenstein
Lituanie
Luxembourg
Madagascar
Malawi
Malaisie
Maldives
Mali
Malte
Iles Marshall
Mauritanie
Ile Maurice
Mexique
Moldavie
Monaco
Mongolie
Monténégro
Maroc
Mozambique
Myanmar
Namibie
Népal
Pays-Bas
Nouvelle Calédonie
Nouvelle-Zélande
Nicaragua
Niger
Nigeria
Îles Mariannes du Nord
Norvège
Oman
Pakistan
Palau
Panama
Papouasie Nouvelle Guinée
Paraguay
Pérou
Philippines
Pologne
le Portugal
Porto Rico
Qatar
Roumanie
Fédération Russe
Rwanda
Samoa
Saint Marin
Sao Tomé et Principe
Arabie Saoudite
Sénégal
Serbie
les Seychelles
Sierra Leone
Singapour
Slovénie
Les îles Salomon
Somalie
Afrique du Sud
Soudan du sud
Espagne
Sri Lanka
Soudan
Suriname
Suède
Suisse
Tadjikistan
Thaïlande
Timor-Leste
Aller
Tonga
Trinité-et-Tobago
Tunisie
dinde
Turkménistan
îles Turques-et-Caïques
Tuvalu
Ouganda
Ukraine
Emirats Arabes Unis
Royaume-Uni
les états-unis d'Amérique
Uruguay
Ouzbékistan
Vanuatu
Zambie
Zimbabwe

In [17]:
# adding column to dataframe
joincountry['countryfr'] = countrylistfr

In [18]:
joincountry.head()

               population          countryfr
Afghanistan            38        Afghanistan
Albania               2.9            Albanie
Algeria              43.1            Algérie
American Samoa        0.1  Samoa américaines
Andorra               0.1            Andorre

In [19]:
joincountry.to_csv('country_concat_inner_translate.csv')

In [34]:
# TEST FOR MODELING
pdc = pd.read_csv("country_concat_inner_translate_continent.csv")
pdc.head()

        country  population       countryfr continent
0   Afghanistan        38.0     Afghanistan      Asie
1  South Africa        58.6  Afrique du Sud   Afrique
2       Albania         2.9         Albanie    Europe
3       Algeria        43.1         Algérie   Afrique
4       Germany        83.1       Allemagne    Europe

In [49]:
Continentlist = pdc['continent'].unique()
print(Continentlist)

['Asie' 'Afrique' 'Europe' 'Amérique' 'Océanie']

In [50]:
Continentlist.sort()
print(Continentlist)

['Afrique' 'Amérique' 'Asie' 'Europe' 'Océanie']

In [51]:
def get_countrymap(pdc):
    pdc_filt = pdc.sort_values('countryfr')
    resultdict = {}
    for row in pdc_filt.iterrows():
        resultdict[row[1]['country']] = row[1]['countryfr']
    return resultdict

test = get_countrymap(pdc)
#print(test)

In [61]:
def get_continentmapandlist(pdc):
    Continentlist = pdc['continent'].unique()
    Continentlist.sort()
    
    resultdict = {}
    for continentname in Continentlist:
        pdextract = pdc[['country','countryfr']].loc[(pdc['continent'] == continentname)]
        #print(pdextract.head())
        somedict = {row[1]['country']:row[1]['countryfr'] for row in pdextract.iterrows()}
        resultdict[continentname] = somedict
    return resultdict,list(Continentlist)

testmap,testlist = get_continentmapandlist(pdc)

In [62]:
testmap

{'Afrique': {'South Africa': 'Afrique du Sud',
  'Algeria': 'Algérie',
  'Angola': 'Angola',
  'Benin': 'Bénin',
  'Botswana': 'Botswana',
  'Burkina Faso': 'Burkina Faso',
  'Burundi': 'Burundi',
  'Cameroon': 'Cameroun',
  'Comoros': 'Comores',
  'Djibouti': 'Djibouti',
  'Ethiopia': 'Ethiopie',
  'Gabon': 'Gabon',
  'Ghana': 'Ghana',
  'Guinea': 'Guinée',
  'Equatorial Guinea': 'Guinée Équatoriale',
  'Guinea-Bissau': 'Guinée-Bissau',
  'Mauritius': 'Ile Maurice',
  'Kenya': 'Kenya',
  'Seychelles': 'les Seychelles',
  'Lesotho': 'Lesotho',
  'Liberia': 'Libéria',
  'Libya': 'Libye',
  'Madagascar': 'Madagascar',
  'Malawi': 'Malawi',
  'Mali': 'Mali',
  'Morocco': 'Maroc',
  'Mauritania': 'Mauritanie',
  'Mozambique': 'Mozambique',
  'Namibia': 'Namibie',
  'Niger': 'Niger',
  'Nigeria': 'Nigeria',
  'Uganda': 'Ouganda',
  'Central African Republic': 'République centrafricaine',
  'Rwanda': 'Rwanda',
  'Sao Tome and Principe': 'Sao Tomé et Principe',
  'Senegal': 'Sénégal',
  'Sierra Leone': 'Sierra Leone',
  'Somalia': 'Somalie',
  'Sudan': 'Soudan',
  'South Sudan': 'Soudan du sud',
  'Chad': 'Tchad',
  'Togo': 'Togo',
  'Tunisia': 'Tunisie',
  'Zambia': 'Zambie',
  'Zimbabwe': 'Zimbabwe'},
 'Amérique': {'Antigua and Barbuda': 'Antigua-et-Barbuda',
  'Argentina': 'Argentine',
  'Aruba': 'Aruba',
  'Barbados': 'Barbade',
  'Belize': 'Belize',
  'Bermuda': 'Bermudes',
  'Bolivia': 'Bolivie',
  'Brazil': 'Brésil',
  'Canada': 'Canada',
  'Chile': 'Chili',
  'Colombia': 'Colombie',
  'Costa Rica': 'Costa Rica',
  'Cuba': 'Cuba',
  'Dominica': 'Dominique',
  'Ecuador': 'Equateur',
  'United States of America': "Etats-unis d'Amérique",
  'Grenada': 'Grenade',
  'Guatemala': 'Guatemala',
  'Guyana': 'Guyane',
  'Haiti': 'Haïti',
  'Honduras': 'Honduras',
  'Cayman Islands': 'Îles Caïmans',
  'Jamaica': 'Jamaïque',
  'Mexico': 'Mexique',
  'Nicaragua': 'Nicaragua',
  'Panama': 'Panama',
  'Paraguay': 'Paraguay',
  'Peru': 'Pérou',
  'Puerto Rico': 'Porto Rico',
  'Dominican Republic': 'République dominicaine',
  'El Salvador': 'Salvador',
  'Suriname': 'Suriname',
  'Trinidad and Tobago': 'Trinité-et-Tobago',
  'Uruguay': 'Uruguay'},
 'Asie': {'Afghanistan': 'Afghanistan',
  'Saudi Arabia': 'Arabie Saoudite',
  'Armenia': 'Arménie',
  'Azerbaijan': 'Azerbaïdjan',
  'Bahrain': 'Bahreïn',
  'Bangladesh': 'Bangladesh',
  'Bhutan': 'Bhoutan',
  'Myanmar': 'Birmanie',
  'Brunei Darussalam': 'Brunei Darussalam',
  'Cambodia': 'Cambodge',
  'China': 'Chine',
  'United Arab Emirates': 'Emirats Arabes Unis',
  'Georgia': 'Géorgie',
  'India': 'Inde',
  'Indonesia': 'Indonésie',
  'Iraq': 'Irak',
  'Israel': 'Israël',
  'Japan': 'Japon',
  'Jordan': 'Jordanie',
  'Kazakhstan': 'Kazakhstan',
  'Kuwait': 'Koweit',
  'Lao PDR': 'Laos',
  'Lebanon': 'Liban',
  'Malaysia': 'Malaisie',
  'Maldives': 'Maldives',
  'Mongolia': 'Mongolie',
  'Nepal': 'Népal',
  'Oman': 'Oman',
  'Uzbekistan': 'Ouzbékistan',
  'Pakistan': 'Pakistan',
  'Philippines': 'Philippines',
  'Qatar': 'Qatar',
  'Singapore': 'Singapour',
  'Sri Lanka': 'Sri Lanka',
  'Tajikistan': 'Tadjikistan',
  'Thailand': 'Thaïlande',
  'Timor-Leste': 'Timor oriental',
  'Turkmenistan': 'Turkménistan',
  'Turkey': 'Turquie'},
 'Europe': {'Albania': 'Albanie',
  'Germany': 'Allemagne',
  'Andorra': 'Andorre',
  'Austria': 'Autriche',
  'Belgium': 'Belgique',
  'Belarus': 'Biélorussie',
  'Bosnia and Herzegovina': 'Bosnie Herzégovine',
  'Bulgaria': 'Bulgarie',
  'Cyprus': 'Chypre',
  'Croatia': 'Croatie',
  'Denmark': 'Danemark',
  'Spain': 'Espagne',
  'Estonia': 'Estonie',
  'Russian Federation': 'Fédération Russe',
  'Finland': 'Finlande',
  'France': 'France',
  'Greece': 'Grèce',
  'Greenland': 'Groenland',
  'Hungary': 'Hongrie',
  'Isle of Man': 'île de Man',
  'Ireland': 'Irlande',
  'Iceland': 'Islande',
  'Italy': 'Italie',
  'Latvia': 'Lettonie',
  'Lithuania': 'Lituanie',
  'Luxembourg': 'Luxembourg',
  'Malta': 'Malte',
  'Moldova': 'Moldavie',
  'Montenegro': 'Monténégro',
  'Norway': 'Norvège',
  'Netherlands': 'Pays-Bas',
  'Poland': 'Pologne',
  'Portugal': 'Portugal',
  'Czech Republic': 'République Tchèque',
  'Romania': 'Roumanie',
  'United Kingdom': 'Royaume-Uni',
  'Serbia': 'Serbie',
  'Slovenia': 'Slovénie',
  'Sweden': 'Suède',
  'Switzerland': 'Suisse',
  'Ukraine': 'Ukraine'},
 'Océanie': {'Australia': 'Australie',
  'Fiji': 'Fidji',
  'Guam': 'Guam',
  'Northern Mariana Islands': 'Îles Mariannes du Nord',
  'Marshall Islands': 'Iles Marshall',
  'Kiribati': 'Kiribati',
  'Solomon Islands': 'Les îles Salomon',
  'New Caledonia': 'Nouvelle Calédonie',
  'New Zealand': 'Nouvelle-Zélande',
  'Papua New Guinea': 'Papouasie Nouvelle Guinée',
  'French Polynesia': 'Polynésie française',
  'Samoa': 'Samoa',
  'American Samoa': 'Samoa américaines',
  'Tonga': 'Tonga',
  'Vanuatu': 'Vanuatu'}}

In [63]:
testlist

['Afrique', 'Amérique', 'Asie', 'Europe', 'Océanie']