In [8]:
import pandas as pd
from api_utils import loadCSVData,updateIncidenceTable
from api_utils import getRawDataToCSV
from api_utils import buildbrutIncidence,incidenceMovingAverage,incidenceExpMovingAverage
pd.options.mode.chained_assignment = None

In [9]:
paysname = 'France'
getRawDataToCSV(paysname)

In [10]:
updateIncidenceTable(paysname)

no recent data detected for France, incidence update cancelled

False

In [42]:
countrylist = ['France','United Kingdom','China']
seriesdict = {}
for elem in countrylist : 
    updateIncidenceTable(elem)
    seriesdict[elem] = loadCSVData(elem,'Inc')['Confirmed_eMMincidence']

no recent data detected for France, incidence update cancelled
no recent data detected for United Kingdom, incidence update cancelled
ERROR : file not found workdata/raw_China_ALLTable.csv
ERROR : file not found workdata/incidence_China_Table.csv
new data detected : 363 more lines

In [43]:
print(seriesdict['France'])

0          0.00
1          0.00
2          0.20
3          0.28
4          0.25
         ...
358    16882.49
359    17361.54
360    15654.38
361    17829.45
362    16046.50
Name: Confirmed_eMMincidence, Length: 363, dtype: float64

In [44]:
dfpop = pd.read_csv("workdata/population_2019.csv",index_col=0)
dfpop.head()

               population
country
Afghanistan            38
Albania               2.9
Algeria              43.1
American Samoa        0.1
Andorra               0.1

In [45]:
listoflist = []
for name in countrylist :  
        # starting with inc per million > 10
        testserie = seriesdict[name]/(float(dfpop['population'][name]))
        testserie = testserie.loc[(testserie>10)].reset_index(drop=True)
        #testserie = testserie    


        testdf = pd.DataFrame(testserie.tolist(),columns=[name])
        listoflist.append(testdf)
    
comparativeinc= pd.concat(listoflist, axis=1)
#comparativeinc = pd.DataFrame(listoflist,columns=countrylist)
comparativeinc.head()

      France  United Kingdom China
0  11.184501       10.117665   NaN
1  12.730700       12.622305   NaN
2  13.998659       14.926048   NaN
3  15.251565       17.500749   NaN
4  19.508793       20.431886   NaN

In [32]:
testserie = seriesdict['United Kingdom'].loc[(seriesdict['United Kingdom']>100)].reset_index(drop=True)
print(testserie)
#testserie = testserie.apply(lambda x : (float(dfpop['population']['France'])*1000000)/x)
testserie = testserie/(float(dfpop['population']['United Kingdom']))
print(testserie)

0        100.09
1        138.98
2        173.08
3        192.17
4        217.25
         ...
309    49820.98
310    50427.38
311    49527.44
312    48441.70
313    47358.53
Name: Confirmed_eMMincidence, Length: 314, dtype: float64
0        1.498353
1        2.080539
2        2.591018
3        2.876796
4        3.252246
          ...
309    745.823054
310    754.900898
311    741.428743
312    725.175150
313    708.960030
Name: Confirmed_eMMincidence, Length: 314, dtype: float64

In [ ]:
# construct table per month for currentyear
listoflist = []
for month in moisdict.values():
    seriemonth = maDataFrame['totalnof'].loc[(maDataFrame['mois']==month)].tolist()
    monthframe = pd.DataFrame(seriemonth,columns=[month])
    listoflist.append(monthframe)
monthframe= pd.concat(listoflist, axis=1)
monthframe.to_csv('publidash/dfSB_distri_camois.csv',index=False)